#foot {
    margin-top: 2.5%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

#foot #topLink {
    width: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid #FF5700;
    border-bottom: 0;
    text-align: center;
    text-decoration: none;
}

#foot nav {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid#FF5700;
    color:  #0077D6;
    padding: .5%;
}

#foot nav a {
    border-left: 1px solid #FF5700;
    text-decoration: none;
}

#foot nav #homeLink {
    border-left: none;
}