/* Header specific styles */
html {
    font-size: 16px;
}

header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

button:hover, button:focus {
    cursor: pointer;
    background: #00579e;
    border-bottom: 4px solid transparent;
}

#logo {
    font-family: 'Ubuntu', sans-serif;
    padding: 1.5% 0;
}

.logo-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    width: 80%;
}

.header-links {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 45%;
    border-style: solid; 
    border-color: #000000;
    border-width: 0 4px 4px;
    border-radius: 20px;
    background: transparent;
}

.nav-links {
    padding: 0 0 2%;
    width: 60%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: auto 0;
    width: 16%;
}

button {
    text-align: center;
    margin: 0 1%;
    padding: 0 1%;
    background: #0077D6;
    border-radius: 10px;
    color: #ffffff;
    border: 0;
    box-shadow: 0px 4px 15px -10px  #0077D6;
    border-bottom: 4px solid #FF5700;
    width: 6rem;
}

a.skip-nav {
    color: #ffffff;
    background-image: linear-gradient();
    width: 15%;
    left: 5%;
    position: absolute;
    padding: 1%;
    transform: translateY(-250%);
}

a.skip-nav:focus, a.skip-nav:hover   {
    position: absolute;
    background-image: linear-gradient(to right, #FF5700,  #a13600);
    outline: transparent;
    border-radius: 10px;
    transform: translateY(0%);
    transition: .2s ease;
}

a {
    text-decoration: none;
    color: #0077D6;
    text-align: center;
    font-size: 1.2rem;
    margin: 1% 0;
}

/* Footer styles*/

#foot {
    margin-top: 2.5%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

#foot #top-link {
    margin-bottom: 0;
    padding: .3%;
    width: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid #FF5700;
    border-bottom: 0;
    text-align: center;
    text-decoration: none;
}

#foot nav {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid#FF5700;
    color:  #0077D6;
    padding: .5%;
}

#foot nav a {
    border-left: 1px solid #FF5700;
    text-decoration: none;
}

#foot nav #homeLink {
    border-left: none;
}


/*breakpoints for nav*/

@media (min-width: 280px) {

    #logo {
        font-size: 1.2rem;
    }

    header {
        width: 100%;
    }

    .header-links {
        width: 80%;
        border-width: 0 3px;
    }
    
    .nav-links {
        width: 100%;
    }
    .buttons {
        width: 55%;
    }

    button {
        width: 3.5rem;
        padding: 3%;
    }

    a.skip-nav {
        width: 35%;
        font-size: 1rem;
    }
}

@media (min-width: 320px) {

     #logo {
        font-size: 1.4rem;
    }

        header {
        width: 95%;
    }

    .header-links {
        width: 90%;
    }
    
    .nav-links {
        width: 100%;
    }
    
    button {
        padding: 3%;
    }


    a.skip-nav:focus {
        font-size: 1.2rem;
        width: 35%;
    }
}

@media (min-width: 500px) {

     #logo {
        font-size: 1.6rem;
    }

    .buttons {
    width: 35%;
}

    button {
        padding: 4%;
    }

    
    #foot #topLink {
        width: 15%;
    }

    #foot nav {
        padding: 1%;
    }
}

@media (min-width: 600px) {
        button {
        padding: 6%;
    }
}

@media (min-width: 768px) {

     #logo {
        font-size: 1.8rem;
    }


    .buttons {
    width: 40%;
}

    button {
        font-size: 1rem;
        padding: 7.6%;
        width: 5rem;
    }
}

/* Desktop +*/
@media (min-width: 1024px) {
    header {
        width: 80%;
    }

     #logo {
        font-size: 2.5rem;
    }

    .logo-buttons {
        width: 80%;
    }

    .nav-links {
        width: 100%;
    }

    .buttons {
        width: 30%;
    }

    button {
        font-size: 1.1;
        padding: 7%;
    }

    .header-links {
        width: 65%;
    }
}

@media (min-width: 1920px) {

    header{
        width: 70%;
    }

    a.skip-nav {
        width: 10%;
    }

    #logo {
        font-size: 3rem;
    }

    .logo-buttons {
        width: 80%;
    }

    .header-links {
        width: 45%;
    }

    .nav-links {
        width: 80%;
    }

    .buttons {
        width: 20%;
    }

    button {
        font-size: 1.3rem;
        padding: 6%;
        width: 6rem;
    }

    .header-links {
        width: 45%;
    }

}