@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Ubuntu&display=swap');

/*GENERAL STYLES*/

html {
    font-size: 62.5%;
}
body {
    background-color: #ffffff;
    font-family: 'Antic Slab', serif;
    color:  #262729;
    box-sizing: 100%;
}

h2, h3, h4 {
    font-size: 2rem;
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    padding: 1.5% 0;
    color: #FF5700;
}

/* Home Styles */
/* About Reddit */

#aboutRed p {
    text-align:center;
    margin-bottom: 2.5%;
    border-bottom:5px solid #E03102;
    padding-bottom:  2.5%;
}


/* Mid Section */

#mostPop {
    display: flex;
    flex-direction: column;
    border-bottom:5px solid #E03102;
}

.subreddits {
    margin: 2.5% 0;
    display: flex;
    justify-content: space-around;
}

.subreddit {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subreddit a {
    text-decoration: none;
}

.container {
    margin: 0 5%;

}

/* About Page Styles */

#why {
    border-bottom:5px solid #E03102;
    padding-bottom: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
}

#how {
    border-bottom:5px solid #E03102;
    padding-bottom: 2.5%;
    text-align: center;
}

/* Media Querys */

@media (max-width: 500px) {

    .allSubs {
        display:flex;
    }

    .subreddits {
        flex-direction:column;
        align-items:center;
        margin: 0 7%;
    }

    .subreddits img {
        width: 40%;
    }

    .subreddit {
        text-align:center;
    }
}

