@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Ubuntu&display=swap');

html {
    font-size: 16px;
}

body {
    background-color: #ffffff;
    font-family: 'Antic Slab', serif;
    color:  #262729;
    padding: 1% 4%;
    box-sizing: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
    padding: 1.5% 0;
}

h2, h3, h4 {
    color: #FF5700;
}

h1 {
    font-size: 4rem;
    margin: 0 26%;
    text-align: center;
}

h2 {
    font-size: 2.3rem;
    width: 100%;
    text-shadow: 2px 2px 5px #ff550083;
}

h3 {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: #0077D6;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:5% 0;
}

footer {
    display: flex;
}

/* End of General styles */


/* Header specific styles */

button {
    text-align: center;
    background: #0077D6;
    border-radius: 10px;
    color: #ffffff;
    border: 0;
    box-shadow: 0px 4px 15px -10px  #0077D6;
    border-bottom: 4px solid #FF5700;
}


/* Main specific styles */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.header-links {
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.update {
    margin: 1.5%;
    line-height: 1.5;
}

.emphasis {
    font-weight: 800;
}

/* Footer specific styles */

footer {
    display: flex;
    justify-content: space-around;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

/* Page Specific styles*/



/* Beginning of Breakpoints */

@media (min-width: 280px) {
    h1 {
        text-align: center;
        font-size: 1.3rem;
        margin: 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.2rem;
    }

    button {
        margin: 2% 2%;
        padding: 4%;
        box-shadow: 0px 4px 8px -4px  #0077D6;
    }

    a {
        font-size: .8rem;
        margin: 3% 0;
    }

    .header-links{
        width: 95%;
    }

    .footer-links {
        width: 95%;
    }
}

@media (min-width: 320px) {
    h1 {
        font-size: 2.3rem;
    }

    button {
        font-size: 1.2rem;
        margin: 0;
        width: 80%;
        padding: 2%;
    }

    a {
        margin: 3% 0%;
        font-size: 1rem;
    }

        .header-links{
        width: 100%;
    }

    .footer-links {
        width: 85%;
    }
}

@media (min-width: 768px) {
    a{
        font-size: 1.2rem;
    }

    button {
    margin: 0 15%;
    padding: 2%;
    width: 50%;
}

p {
    font-size: 1.3rem;
}

@media (min-width: 1024px) {


        .header-links{
        width: 85%;
    }

    .footer-links {
        width: 65%;
    }
}
}