@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Ubuntu&display=swap');


/* Generic styles*/


html {
    font-size: 16px;
}

body {
    background-color: #ffffff;
    font-family: 'Antic Slab', serif;
    color:  #262729;
    box-sizing: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
    padding: 1.5% 0;
}

h2, h3, h4 {
    color: #FF5700;
}

h1 {
    font-size: 4rem;
    margin: 0 26%;
    text-align: center;
}

h2 {
    font-size: 2.3rem;
    width: 100%;
    text-shadow: 2px 2px 5px #ff550083;
}

h3 {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: #0077D6;
    text-align: center;
}

a.skip-nav {
    color: #ffffff;
    background-image: linear-gradient();
    width: 15%;
    left: 5%;
    position: absolute;
    padding: 1%;
    transform: translateY(-250%);
}

a.skip-nav:focus, a.skip-nav:hover   {
    position: absolute;
    background-image: linear-gradient(to right, #FF5700,  #a13600);
    outline: transparent;
    border-radius: 10px;
    transform: translateY(0%);
    transition: .2s ease;
}

section {
    padding: 1% 4% 0;
}

section.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:5% 0;
}


/* Header specific styles */

button {
    text-align: center;
    background: #0077D6;
    border-radius: 10px;
    color: #ffffff;
    border: 0;
    box-shadow: 0px 4px 15px -10px  #0077D6;
    border-bottom: 4px solid #FF5700;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    border-width: 0 0 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0),
      #0077D6,  
      rgba(0, 0, 0, 0)
    ) 2 4 100%;
}

.header-links {
    display: flex;
    justify-content: space-around;
    width: 65%;
}


/* Footer specific styles */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #dadada3b;
    padding: 3% 0;
    border-width: 3px 0 0;
    border-style: solid;
    border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0),
      #0077D6,  
      rgba(0, 0, 0, 0)
    ) 2 4 100%;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}


/* Page Specific styles*/

/* News page specific*/

div h3 {
    text-align: center;
}

.update {
    padding: 0 2%;
    margin: 1.5%;
    line-height: 1.5;
}

.update-1 {
    padding: 0 2%;
    margin: 1.5%;
    line-height: 1.5;
    background:#ff55001a;
    border: solid 3px #ffffff;
    border-radius: 20px;
}

.timestamp {
    font-weight: 500;
    color: #0077D6;
    text-align: right;
    text-shadow: 3px 3px 4px  #0076d663;
}

/* Meet the Team specific*/

.team-grid {
    margin: 4% 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
    position: relative;
}

div.prof-img {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12rem;
}

a.github {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 2rem;
    z-index: 2;
}

a.github:hover, a.github:focus{
    position: absolute;
    color: #ffffff;
    opacity: 1;
    background: #0076d68a;
    display: inline-block;
    transition: .3s ease-in;
}

div.profile p {
    margin-top: 3%;
    background: #0076d623;
    border-radius: 10px 0;
    padding: 2% 0;
    width: 70%;
    border-width: 3px 3px 3px 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      #0077D6,
      #ffffff,
      #0077D6, 
      rgba(0, 0, 0, 0)
    ) 1 3 100%;
    }

div.profile h3 {
    margin-bottom: 5%;
    background: #ff55001a;
    border-radius: 0 10px;
    padding: 2% 0;
    width: 70%;
    border-width: 3px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0),
      #FF5700,
      #ffffff,
      #FF5700,  
      rgba(0, 0, 0, 0)
    ) 1 3 100%;
    box-shadow: 0 6px 6px #00000067;
}


#mr {
    background-image: url(./profile-imgs/Michael.jpg);
}

#sk {
    background-image: url(./profile-imgs/Shahnam.jpg);
}

#ac {
    background-image: url(./profile-imgs/Arturo.png);
}

#mmb {
    background-image: url(./profile-imgs/Maxwell.jpg);
}

#ab {
    background-image: url(./profile-imgs/angelika.jpg);
}

#ms {
    background-image: url(./profile-imgs/Marcos.jpg);
}

#hj {
    background-image: url(./profile-imgs/Sahar.jpg);
}

#ss {
    background-image: url(./profile-imgs/Steve.png);
}

#hd {
    background-image: url(./profile-imgs/Henry.jpg);
}

#sas {
    background-image: url(./profile-imgs/Sami.png);
}

/* Beginning of Breakpoints */


/*Mobile*/
@media (min-width: 280px) {
    h1 {
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3{
        font-size: 1rem;
    }

    button {
        margin: 0 2%;
        padding: 4%;
        width: 80%;
        box-shadow: 0px 4px 8px -4px  #0077D6;
    }

    a {
        font-size: .8rem;
        margin: 3% 0;
    }

    a.skip-nav {
        width: 35%;
        font-size: 1rem;
    }

    a.github:hover, a.github:focus {
        outline: none;
        font-size: 1.3rem;
    }

    div.profile {
    width: 48%;
    }

    div.prof-img {
    height: 10vh;
    width: 60%;
    background-size: 5rem;
    }

    .header-links{
        width: 95%;
    }

    .footer-links {
        width: 95%;
    }
}

@media (min-width: 320px) {
    h1 {
        font-size: 2.3rem;
    }

    button {
        font-size: 1.2rem;
        margin: 0;
        width: 80%;
        padding: 2%;
    }

    a {
        margin: 3% 0%;
        font-size: 1rem;
    }

    a.skip-nav:focus {
        font-size: 1.2rem;
        width: 35%;
    }

    div.prof-img {
        height: 12vh;
        width: 60%;
        background-size: 8rem;
        align-items: space-between;
    }

    .header-links {
        width: 100%;
    }

    .footer-links {
        width: 85%;
    }
}

@media (min-width: 768px) {
    a{
    font-size: 1.2rem;
    margin: 1% 0;
    }

    button {
        margin: 0 15%;
        padding: 2%;
        width: 50%;
    }

    div.profile {
        width: 32%;
    }

    a.github:hover, a.github:focus {
        font-size: 1.9rem;
        left: 0;
        width: 100%;
    }

    div.prof-img {
        height: 14vh;
        width: 60%;
        background-size: 12rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

p {
    font-size: 1.3rem;
}
}   

/* Desktop +*/
@media (min-width: 1024px) {

    .news {
        padding: 0 25%;
    }

    .header-links{
        margin: 2% 0 0;
    }
    .update {
        margin: 0;
    }

    .update-1 {
        margin: 0;
    }

    button {
        margin: 0 15%;
        padding: 2%;
        width: 50%;
    }

    div.prof-img {
        height: 15vh;
        width: 60%;
        background-size: 15rem;
    }
    
    a.skip-nav:focus {
        width: 25%;
        font-size: 1.5rem;
    }

    a.github:hover, a.github:focus {
        font-size: 2.3rem;
    }

    .header-links{
    width: 80%;
    }

    footer {
        padding: 1.5%;
    }

    .footer-links {
        width: 65%;
    }   
}

@media (min-width: 1920px) {

    a.skip-nav {
        width: 10%;
    }

    a.github:hover, a.github:focus {
        left: 10%;
        width: 80%;
    }
}